<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Connexion</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="container">
    <!-- Logo Section -->
    <div class="logo">
        <img th:src="@{/images/logosonaged.jpg}" alt="Logo de l'entreprise">
    </div>

    <h1>Ges-Remontée</h1>
    <form th:action="@{/auth/login}" method="post">
        <label for="matricule">Matricule :</label>
        <input type="text" id="matricule" name="matricule" placeholder="Entrez votre matricule" required>

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password" placeholder="Entrez votre mot de passe" required>

        <button type="submit">Se connecter</button>
    </form>
    <p th:if="${error}" class="error">Identifiants incorrects</p>

    <!-- Additional Links -->
    <div class="additional-links">
        <p class="register-link"><a th:href="@{/register}">Créer un compte</a></p>
        <p class="reset-link"><a th:href="@{/reset}">Mot de passe oublié ?</a></p>
    </div>
</div>
</body>
</html>

