<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Réinitialiser le mot de passe</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="container">
    <!-- Logo Section -->
    <div class="logo">
        <img th:src="@{/images/logosonaged.jpg}" alt="Logo de l'entreprise">
    </div>
    <h1>Réinitialiser <br> le mot de passe</h1>

    <form th:action="@{/auth/reset-password}" method="post">
        <label for="matricule">Matricule :</label>
        <input type="text" id="matricule" name="matricule" placeholder="Entrez votre matricule" required>
        <button type="submit">Réinitialiser</button>
    </form>
    <p class="message">Vous vous souvenez de votre mot de passe ?  <br> <a th:href="@{/login}">Se connecter</a></p>
</div>
</body>
</html>
