<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Réinitialiser le mot de passe</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <script th:src="@{/js/validatePasswords.js}"></script>
    <style>
        .error { color: red; }
        .success { color: green; }
    </style>
</head>
<body>
<div class="container">
    <!-- Logo Section -->
    <div class="logo">
        <img th:src="@{/images/logosonaged.jpg}" alt="Logo de l'entreprise">
    </div>
    <h1>Réinitialisation<br>du mot de passe</h1>
    <form id="reset-password-form" action="/auth/reset-password" method="post">
        <label for="email">Email :</label>
        <input type="email" id="email" name="email" required>
        <span id="email-error" class="error"></span>
        <br>
        <label for="matricule">Matricule :</label>
        <input type="text" id="matricule" name="matricule" required>
        <br>
        <button type="submit">Envoyer le lien de réinitialisation</button>
    </form>

    <!-- Affiche les messages d'erreur ou de succès -->
    <div th:if="${message}" style="color: green;">
        <p th:text="${message}"></p>
    </div>
    <div th:if="${error}" style="color: red;">
        <p th:text="${error}"></p>
    </div>
    <p class="message">Vous vous souvenez de votre mot de passe ?  <br> <a th:href="@{/login}">Se connecter</a></p>
</div>
</body>
</html>
